<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>这里是标题</title>
</head>
<body>
    <h1>第一行在这里</h1>
    <p>啊啊啊啊啊啊。</p>
    {% block mainbody %}
    {#注释#}
    <p>哦哦哦哦哦哦</p>
    {% endblock %}

<div
        id="blog-news">
    <a href="https://info.flagcounter.com/mCnQ">
        <img src="./7233586" alt="show pic" border="0">
    </a>
    <div id="profile_block">name：<a href="https://home.cnblogs.com/u/AdaminXie/">TimeStamp</a>
        <br>link1：<a href="https://home.cnblogs.com/u/AdaminXie/" title="入园时间：2017-04-23">10个月</a>
        <br>link2：<a href="https://home.cnblogs.com/u/AdaminXie/followers/">18</a>
        <br>link3：<a href="https://home.cnblogs.com/u/AdaminXie/followees/">1</a>
        <div id="p_b_follow"></div>
        <script>getFollowStatus('70f2443b-1a28-e711-9fc1-ac853d9f53cc')</script>
    </div>
</div>

</body>
</html>